%% -*- mode: Erlang; fill-column: 80; comment-column: 75; -*-
{deps, [
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "v1.4.3"}},
	{getopt, "", {git, "https://github.com/jcomellas/getopt.git", {branch, "master"}}},
	{nerves_utils, ".*", {git, "https://github.com/nerves-project/nerves-utils.git", "master"}}
       ]}.

{escript_incl_apps, [getopt, jsx, nerves_utils]}.
